.gradient-background {
  background: linear-gradient(300deg, #00bfff, #ff4c68, #ef8172);
  background-size: 180% 180%;
  animation: gradient-animation 18s ease infinite;
}


@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.#title .col-10 img {
  max-height: 600px !important;
}

.icon-square {
  width: 3rem;
  height: 3rem;
  border-radius: 0.75rem;
}

.svgicon {
  padding-left: 5px;
  height: 170px;
}

.profile-img {
  height: 100px;
  border-radius: 50%;
}

.row img {
  height: 30px;
}